/ProblemSolving/ProblemSolving/bin
/ProblemSolving/ProblemSolving/obj
/ProblemSolving/.vs
/.vs
/ProblemSolving/ProblemSolving/.vscode
/ProblemSolving/.vscode
/ProblemSolving/ProblemSolving.Tests/bin
/ProblemSolving/ProblemSolving.Tests/obj
